[submodule "lib/fish/stack"]
	path = lib/fish/stack
	url = https://github.com/wwwjfy/stack.git
[submodule "lib/fish/z.fish"]
	path = lib/fish/z.fish
	url = https://github.com/wwwjfy/z.fish.git
[submodule "lib/fish/z.py"]
	path = lib/fish/z.py
	url = https://github.com/wwwjfy/z.py.git
